.border-1 {
    position: fixed;
    border: 1em;
    border-style:solid;
    border-bottom-style: none;
    border-color: deeppink;
    
    height: 50vh;
    top: 2vh;
    left: 2vw;
    right: 2vw;
    pointer-events: none;
    
    transition: 150ms;   
}

.border-2 {
    position: fixed;
    border: 1em;
    border-style:solid;
    border-top-style: none;
    border-color: deeppink;
    bottom: 2vh;
    height: 50vh;
    left: 2vw;
    right: 2vw;
    pointer-events: none;
    
    transition: 150ms;   
}