.menuContainer{
    position: fixed;
    top: 0vw; 
    left: 0vw;
    right: 0vw;
    bottom: 0vh;
    pointer-events: none;
}

.menuMask{
    position:fixed;
    height: 70vh;
    bottom: 2vh;
    right: 2vw;
    background-color: deeppink;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    transition: 150ms;    
    transition-timing-function: cubic-bezier(0.12,0.0,0.23,1);
    pointer-events: all;
}

.menuMaskTitle{
    position:fixed;
    height: 70vh;
    top: 2vh;
    right: 2vw;
    background-color: deeppink;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    transition: 150ms;    
    transition-timing-function: cubic-bezier(0.12,0.0,0.23,1);
    pointer-events: all;
}

.menuContent{
    position: fixed;
    left: 0em;
    bottom: 4em;
    top: 0em;
    font-size:12pt;
    pointer-events: all;
}

.menuOptions{
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    color: white;
    
}
p.menuOptionsItem{
    font-size: 2em;
    margin-top: 0.2em;
    color: white;
}

p.menuOptionsItem:hover{
    font-size: 2em;
    margin-top: 0.2em;
    
    color: black;
}

.menuButton{
    position: fixed;
    right: 3vw;
    bottom: 3vh;

    pointer-events: all;
}

#svg{
    transition: 300ms;
}

.titleAlt{
    position:  fixed;
    left: 5vw;
    right: 5vw;
    top: 8vh; 
    
    pointer-events: none;
    pointer-events: none;
}

