.App {
  margin-top: 30px;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.page{
    position: relative;
    flex: auto;
    overflow: hidden;
}

.content{
    position: relative;
    margin-top: 20vmax;
    margin-bottom: 1vmax;
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 70vmax;
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
}

.title{
    position:  fixed;
    left: 5vw;
    right: 5vw;
    top: 8vh; 
    
    pointer-events: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.bar{
    max-width: 70vmax;
    height: 0.5em;
    background-color: deeppink;
}